* {
    box-sizing: border-box;
}    

body {
    background-color:rgb(241, 233, 239);
}

/* Style the header */
.header {
    background-color: #e7cbed;
    padding: 14px 16px;
    text-align: center;
    border: 1px solid purple;
    word-spacing: 5pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: overline underline;
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px)  {
    body {
        background-color: rgb(239, 203, 209);
    }
}

/* Style the top navigation bar */
.navigator {
    background-color: rgb(182, 179, 233);
    overflow: hidden;
    border: none;
    color: rgb(9, 4, 4);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* On screens that are 600px wide or more, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 600px) {
    .navigator{
        background-color: rgb(220, 218, 165);
    }
}

/* Change color on hover */
.navigator a:hover {
    color: rgb(181, 96, 96);
}

.navigator a, input{
    color: #0a0623;
    padding: 14px 16px;
    text-decoration:none;
    border: 3em;
    float: left;
}

@media screen and (min-width: 600px) {
    .navigator a, input {
        float:none;
    }
}


.center {
    text-align: center;
    border: 3px solid rgb(156, 180, 156);
}
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted plum;
    opacity: 0.5;
}
    
.center img:hover {
        opacity: 1.0;
    }

.row {
    display: block;
}
/*styling columns*/
.column {
    border:2px dotted plum;
    float: left;
    width: 50%;
    padding: 2px; 
}
h2 {
    font-family:cursive;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.button {
    background: rgb(203, 203, 203);
    display: block;
    width: 10%;
    border: solid rgb(4, 4, 21);
    transition: width
}
.button:hover{
    background:rgb(179, 73, 73)
}


