section {
    background: rgb(223, 10, 172);
    background: linear-gradient(
      135deg,
      rgba(223, 10, 172, 1) 35%,
      rgba(225, 21, 251, 1) 46%
    );
    
  }

  .containerweather {
    
    max-width: 500px;
    height: 80vh;
    background: url(https://media.istockphoto.com/vectors/weather-paper-signs-on-blue-background-vector-id475234788?k=20&m=475234788&s=612x612&w=0&h=J6BYV-XYX1aeMMtWfdPa7XId_s-rUQLLFwlMRemIIFQ=);
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    
  }


  