fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
}

header img {
  height: 64px;
  margin-right: 1em;
}

main {
  display: flex;
  justify-content: space-between;
}

aside {
  margin-left: 2em;
}

footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  display: inline-block;
  margin: 2%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button[type = delete] {

    background-color: red;
    color: white;
    margin: 4%;
    cursor: pointer;
  }
button[type = edit] {

    background-color: rgb(138, 116, 228);
    color: white;
    margin: 4%;
    cursor: pointer;
  }

  .star {
    visibility:hidden;
    font-size:20px;
    cursor:pointer;
    float:right;
    margin-right: 8%;

}
.star:before {
   content: "\1F49E";
   visibility:visible;
}
.star:checked:before {
   content: "\1F494";

}
.list-wrapper {
  max-width: 100%;
}
.list {
  border-radius: 2px;
  list-style:georgian;

}

.list-item {
  display: flex;
  margin: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(211, 28, 28, 0.1);
  }
